<div class="date calendar-picker" ng-if="showing">
  <table class="snui-table">
    <thead>
      <tr class="date-header">
        <th class="date-nav date-month-previous" ng-click="previousMonth(year, month)">&lsaquo;</th>
        <th colspan="5" class="date-month-year">
          <span class="date-current-month">{{monthName}}</span>
          <span class="date-current-year">{{year}}</span></th>
        <th class="date-nav date-month-next" ng-click="nextMonth(year, month)">&rsaquo;</th>
      </tr>
      <tr class="date-daysofweek">
        <th>S</th>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
      </tr>
    </thead>
    <tbody class="date-days">
      <tr ng-repeat="week in calDays">
        <td ng-repeat="day in week" ng-click="select(year, month, day.day, day.disabled)" ng-disabled="day.disabled"
          ng-class="{inactive:day.disabled, selected:!day.disabled && date==day.day, today:day.today}">{{day.day}}</td>
      </tr>
    </tbody>
  </table>
</div>