<modal showing="ctrl.config.showing" close="ctrl.cancel()">
  <div class="group padded" ng-class="{'danger-zone': ctrl.config.dangerZone}">
    <header class="column el">
      <h1 ng-i18next="[i18next]({{ctrl.config}})confirm_delete_header"></h1>
    </header>
    <form class="column el x100">
      <div class="notification roadblock">
        <p ng-i18next="[html:i18next]({{ctrl.config}})confirm_delete"></p>
      </div>
      <div class="field" ng-if="ctrl.config.dangerZone">
        <label ng-i18next="[i18next]({{ctrl.config}})type_to_delete"></label>
        <input ng-model="ctrl.typeName" type="text" class="x100"/>
      </div>
      <footer class="group form-actions">
        <ul class="column right">
          <li><a ng-click="ctrl.cancel()" class="button no-style" ng-i18next>Cancel</a></li>
          <li><button ng-click="ctrl.confirm()" ng-disabled="ctrl.config.dangerZone && ctrl.config.name != ctrl.typeName" ng-i18next>Yes_Delete_It</button></li>
        </ul>
      </footer>
    </form>
  </div>
</modal>
