<modal showing="ctrl.config.showing" close="ctrl.cancel()">
  <div class="group padded" ng-class="{'danger-zone': ctrl.config.dangerZone}">
    <header class="column el">
      <h1>{{ 'confirm_delete_header' | t:ctrl.config }}</h1>
    </header>
    <form class="column el x100">
      <div class="notification roadblock" ng-if="!ctrl.config.dangerZone">
        <p>{{ 'confirm_delete' | t:ctrl.config }}</p>
      </div>
      <div class="field" ng-if="ctrl.config.dangerZone">
        <div class="notification roadblock">
          <p ng-bind-html="confirm_delete_dangerzone | t:ctrl.config"></p>
        </div>
        <label>{{ 'type_to_delete' | t:ctrl.config }}</label>
        <input ng-model="ctrl.typeName" type="text" class="x100"/>
      </div>
      <footer class="group form-actions">
        <ul class="column right">
          <li><a ng-click="ctrl.cancel()" class="button no-style">{{ 'Cancel' | t }}</a></li>
          <li><button ng-click="ctrl.confirm()" ng-disabled="ctrl.config.dangerZone && ctrl.config.name != ctrl.typeName">{{ 'Yes_Delete_It' | t }}</button></li>
        </ul>
      </footer>
    </form>
  </div>
</modal>
